html {
    background: #b7b7a4;
    font-family: 'helvetica neue';
}

body {
    margin: 0;
}

header {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #3f4238;
}

header h1 {
    color: #ffe8d6;
    font-size: 6vh;
}

nav {
    background: black;
    position: relative;
    width: 100%;
    top: 0;
    transition: all 0.5s;
    z-index: 1;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

nav li {
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

li.return {
    max-width: 0;
    overflow: hidden;
    background: white;
    transition: all 0.5s;
    font-weight: 600;
    font-size: 30px;
}

li.return a {
    color: black;
}

nav a {
    text-decoration: none;
    font-size: 2vh;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 10px;
    color: white;
    text-transform: uppercase;
    display: inline-block;
}

nav a:hover {
    color: gold;
}

body.fixed-nav nav {
    position: fixed;
    box-shadow: 0 5px 0 rgba(0,0,0,0.1);
}

.fixed-nav li.return {
    max-width: 500px;
}

.content-wrapper {
    background: #d4c7b0;
    max-width: 700px;
    margin: 70px auto;
    padding: 40px;
    text-align: justify;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);

}

.content-wrapper main p {
    text-align: center;
    margin: 0;
}